h1 {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  margin: 24px 0;
}

.bold-paragraph {
  color: dodgerblue;
}

#bold {
  background-color: dodgerblue;
  color: white;
}

img {
  width: 75%;
}

cascade-mountain.jpeg {
  position: absolute;
}

#map { height: 180px; 
}